SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# sqlite:   sqlite:///db.sqlite3
# postgres: postgres://user:password@127.0.0.1:5432/dbname
DATABASE_URL=sqlite:///db.sqlite3

LANGUAGE_CODE=en-us
TIME_ZONE=Asia/Tashkent